<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">
            Mongo
            </a>
        <ul 
        id="nav-mobile" 
        class="right hide-on-med-and-down">

            {{#if isIndex}}
            <li 
            class="active"
            >
            <a href="/">
            Main
            </a>
            </li>
            {{else}}
            <li>
                <a href="/">Main</a>
                </li>
            {{/if}}

            {{#if isCreate}}
            <li class="active"><a href="/create">Create</a></li>
            {{else}}
            <li><a href="/create">Create</a></li>
            {{/if}}

        </ul>
    </div>
</nav>