<html>
<head>
    <title>
        {{title}}
    </title>
</head>
<body>
<form action="/create" method="POST">

    <h1>Create Todo</h1>
    <div>
        <input type="text" name="title"/>

        <label>Todo Title</label>
    </div>

    <button class="btn" type="submit">
        Create
    </button>

</form>
</body>
</html>